@page "/ProductDetails/{Id:int}"
@inherits ProductDetailsBase

<h3>Trang chi tiết sản phẩm</h3>

 @if (Product == null && ErrorMessage == null) 
 { 
    <DisplayLoader/>
} 
 else 

if (ErrorMessage != null) 
{
    @* <h4 class="text-danger">@ErrorMessage</h4> *@
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h4 class="mb-5">Chi tiết sản phẩm</h4>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Product.ImageUrl" />
        </div>
        <div class="col-md-6 mb-4">
            <h4>@Product.Name</h4>
             <p class="mb-4">@Product.Description</p>
             <p class="mb-4">
                 <b>
                    @* @Product.Price.ToString("C")&nbsp;(@Product.Qty items in stock) *@
                    @Product.Price.ToString("C")
                 </b>
             </p>
             <p class="mb-4">@Product.Qty</p>

             <button class="btn btn-primary">Thêm vào giỏ hàng</button>
        </div>
    </div>
}
